<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="static/css/axion/axion.css">
  <link rel="stylesheet" href="static/js/codemirror/codemirror.css">
  <link rel="stylesheet" href="static/css/cell.css">
  <script src="static/css/axion/axion.js"></script>
  <script src="static/js/codemirror/codemirror.js"></script>
  <script src="static/js/codemirror/commonlisp.js"></script>
  <script src="static/js/csi.js"></script>
  <script src="static/js/http.js"></script>
  <script src="static/js/client.js"></script>
  <script src="static/js/CodeCell.js"></script>
  <script src="static/js/ICodeMirror.js"></script>
  <script>
    let client;
    let descripter = "{{ descripter }}";
    window.onload = () => {
      client = new Darkmatter('localhost:5000', 5213, descripter);
      let cellListElement = document.getElementById('dm-cell-list');
      for(let elm of document.querySelectorAll(".dm-code-cell")) {
        new CodeCell(client, cellListElement, elm);
      }
      for(let elm of document.querySelectorAll(".dm-error-output")) {
        replaceCSI(elm);
      }
      new CodeCell(client, cellListElement);
    };
  </script>
</head>
<body class="ax-background" fit="true">
  <header class="ax-appbar ax-primary">
    <div class="ax-left ax-middle">
      <h1>Untitled</h1>
    </div>
    <div class="ax-right ax-middle">
    </div>
  </header>
  <ul class="ax-dropdown-menubar ax-primary" tabindex="0">
    <li class="ax-dropdown">
      <span class="ax-dropdown-container">
        <p class="ax-dropdown-label" padding>File</p>
        <ul class="ax-dropdown-menu ax-list ax-primary ax-panel" unstyle item-highlight item-padding>
          <li tabindex="0">Save</li>
          <li tabindex="0">Regenerate package</li>
        </ul>
      </span>
    </li>
    <li class="ax-dropdown">
      <span class="ax-dropdown-container">
        <p class="ax-dropdown-label" padding>Cell</p>
        <ul class="ax-dropdown-menu ax-list ax-primary ax-panel" unstyle item-highlight item-padding>
          <li tabindex="0">Eval</li>
          <li tabindex="0">Eval and proceed</li>
          <li tabindex="0">Switch language</li>
          <li tabindex="0">Previous</li>
          <li tabindex="0">Next</li>
          <li tabindex="0">Swap current to previous</li>
          <li tabindex="0">Swap current to next</li>
          <li tabindex="0">Prepend</li>
          <li tabindex="0">Append</li>
          <li tabindex="0">Remove</li>
        </ul>
      </span>
    </li>
    <li class="ax-dropdown">
      <span class="ax-dropdown-container">
        <p class="ax-dropdown-label" padding>View</p>
        <ul class="ax-dropdown-menu ax-list ax-primary ax-panel" unstyle item-highlight item-padding>
          <li tabindex="0">Toggle drawer</li>
          <li tabindex="0">Start slide mode</li>
        </ul>
      </span>
    </li>
    <li class="ax-dropdown">
      <span class="ax-dropdown-container">
        <p class="ax-dropdown-label" padding>Tools</p>
        <ul class="ax-dropdown-menu ax-list ax-primary ax-panel" unstyle item-highlight item-padding>
          <li tabindex="0">Eval notebook</li>
          <li tabindex="0">Vim mode</li>
          <li tabindex="0">Emacs mode</li>
          <li tabindex="0">Default mode</li>
        </ul>
      </span>
    </li>
  </ul>

  <section class="ax-with-sidebar" maximize>
    <div id="dm-sidebar" class="ax-sidebar ax-primary ax-panel">
    </div>
    <ul id="dm-cell-list" class="ax-container ax-list" unstyle item-spacing vpad>
      {% for cell in notebook %}
      <li class="ax-panel ax-normal" w-1-2 center>
        {% ifequal cell.type "code" %}
        <div class="dm-code-cell">{{ cell.source }}</div>
        {% for output in cell.outputs %}
          {% if output.data.text/plain %}<pre class="dm-text-output">{% for text in output.data.text/plain %}{{ text }}{% endfor %}</pre>{% endif %}
          {% if output.data.image/png %}<img style="width:50%;" src='data:image/png;base64,{{ output.data.image/png }}' />{% endif %}
          {% if output.traceback %}<pre class="dm-error-output">{% for traceback in output.traceback %}{{ traceback }}{% endfor %}</pre>{% endif %}
        {% endfor %}
        {% endifequal %}
        {% ifequal cell.type "raw" %}
        <div class="dm-raw-cell">{{ cell }}</div>
        {% endifequal %}
        {% ifequal cell.type "note" %}
        <div class="dm-note-cell">{{ cell }}</div>
        {% endifequal %}
      </li>
      {% endfor %}
    </ul>
  </section>
</body>
</html>
